# Install composer to 'app' user.
# .composer.tmp will be merged to .composer on entrypoint.
USER app
RUN php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');" \
	&& php composer-setup.php --filename=composer --install-dir=/home/app/bin \
	&& php -r "unlink('composer-setup.php');" \
	&& composer global require hirak/prestissimo \
	&& mv /home/app/.composer /home/app/.composer.tmp
USER root
