ENV DRUPAL_DEPS_BUILD \
	libjpeg62-turbo-dev \
	libpng12-dev \
	libpq-dev

ENV DRUPAL_DEPS_RUN \
	bzip2 \
	ca-certificates \
	git \
	libjpeg62-turbo \
	libpq5 \
	mysql-client \
	openssh-client \
	rsync \
	sqlite3 \
	ssmtp \
	wget \
	zip

# Create 'app' user.
RUN groupadd --gid 1000 app \
	&& useradd --uid 1000 --gid app --shell /bin/bash --create-home app \
	&& mkdir -p /home/app/bin \
	&& mkdir -p /home/app/.local/bin \
	&& mkdir -p /home/app/.local/opt \
	&& mkdir -p /home/app/src/docroot \
	&& chown -R app:app /home/app

# Switch PHP-FPM user to 'app'.
RUN sed -i 's/www-data/app/g' /usr/local/etc/php-fpm.d/www.conf

# Add Drupal scripts.
USER app
RUN mkdir -p /home/app/.de-drupal/bin
INCLUDE php/bin
COPY bin/ /home/app/.de-drupal/bin
USER root
ENV PATH /home/app/.de-drupal/bin:$PATH

# Create default web root.
RUN mkdir -p /home/app/src/docroot \
    && echo '<?php phpinfo();' >> /home/app/src/docroot/index.php

# Configure ssmtp.
INCLUDE php/etc/ssmtp.conf
ADD ssmtp.conf /etc/ssmtp/ssmtp.conf
RUN chmod 644 /etc/ssmtp/ssmtp.conf

RUN mkdir -p /home/app/.ssh \
	&& touch /home/app/.ssh/known_hosts \
	&& chown -R app:app /home/app/.ssh

WORKDIR /home/app/src/docroot

ENV PATH /home/app/bin:$PATH
ENV PATH /home/app/.local/bin:$PATH
ENV PATH /home/app/src/vendor/bin:$PATH
ENV PATH /home/app/src/docroot/vendor/bin:$PATH
ENV PATH /home/app/.composer/vendor/bin:$PATH
