# Set recommended opcache.ini settings.
# See https://secure.php.net/manual/en/opcache.installation.php.
INCLUDE php/etc/opcache-recommended.ini
COPY opcache-recommended.ini /usr/local/etc/php/conf.d/opcache-recommended.ini
